@model gitgudclone.Models.PostsModel

<div class = "form-group">
    @Html.HiddenFor(p => p.userEmail)
</div>

<div id="textColor" class = "form-group">
    @Html.LabelFor(p => p.title)
    @Html.TextBoxFor(p => p.title, new{@class = "form-control"})
    @Html.ValidationMessageFor(p => p.title)
</div>
