@model gitgudclone.Models.MessagesModel

<div class="card text-white bg-dark mb3 " style="width: 18rem;">
    <div class="card-body">
    <p id = "id" class="card-title">New Message</p>
    <p class="card-text">To: @Model.userEmail</p>
    <p class="card-text">Message: @Model.textBody</p>
    </div>
</div>