@model gitgudclone.Models.PostsModel

<div id="id" class="card text-white mb3 card text-center col-md" style = "width: 25rem;">
    <div id="id" class="card-body">
        <p class="card-title"><h2 id="id" >@Model.title</h2></p>

        <ol id="id" class = "card-title">
            @foreach (StepsModel step in @Model.postSteps)
            {
                <li>
                    <h6>@step.step</h6>
                    @if (step.img != null)
                    {
                        <p><img src=@step.img width="200px" alt="step.img"/></p>
                    }
                </li>
            }
        </ol>
        
    </div>
</div>