@model gitgudclone.Models.PostQueueModel

<div class="card text-white bg-dark mb3 " style="width: 18rem;">
    <div class="card-body">
    <p id = "id" class="card-title">Post Queue</p>
    <p class="card-text">@Model.authorEmail</p>
    <p class="card-text">@Model.postBody</p>
    </div>
</div>