@model gitgudclone.Models.MessagesModel

<h1 id="textColor">Send Message</h1>

@using (@Html.BeginForm("addMessage", "gitgud"))
{
    <partial name = "_messagesForm" model = "@Model"/>

    <button class="btn btn-outline-success" type = "submit">Send Message</button>
}