@model gitgudclone.Models.PostsModel

<title>@ViewData["Title"] GitGud - Add Tutorial Title</title>

<h1 id="textColor">Add new Tutorial</h1>

@using (@Html.BeginForm("addPost", "gitgud"))
{
    <partial name = "_postsForm" model = "@Model"/>

    <button class="btn btn-outline-success" type = "submit">Add Tutorial</button>
}