@model gitgudclone.Models.PostsModel

<title>@ViewData["Title"] GitGud - Delete Tutorial</title>

<div class="jumbotron">
  <h1 class="display-4">Do you wish to delete post @Model.title?</h1>
  <hr class="my-4">
  <p>Once deleted it will be gone forever</p>
  <p class="lead">
    <a asp-area="" asp-controller="gitgud" asp-action="deletepost" asp-route-postID="@Model.id">
    <button class="btn btn-outline-danger">Delete</button>
    </a>



    <a asp-area="" asp-controller="gitgud" asp-action="viewpostdetails" asp-route-postID="@Model.id">
    <button class="btn btn-outline-info">Go Back</button>
    </a>
  </p>
</div>