@model gitgudclone.Models.MessagesModel

<title>@ViewData["Title"] GitGud - Delete Message</title>

<div class="jumbotron">
  <h1 class="display-4">Do you wish to delete message @Model.subjectLine?</h1>
  <hr class="my-4">
  <p>Once deleted it will be gone forever</p>
  <p class="lead">
    <a asp-area="" asp-controller="gitgud" asp-action="deletemessage" asp-route-messageID="@Model.id">
    <button class="btn btn-outline-danger">Delete</button>
    </a>



    <a asp-area="" asp-controller="gitgud" asp-action="viewmessagedetails" asp-route-messageID="@Model.id">
    <button class="btn btn-outline-info">Go Back</button>
    </a>
  </p>
</div>