@model gitgudclone.Models.PostsModel

<title>@ViewData["Title"] GitGud - Edit Tutorial Title</title>

<h1 id="textColor">Edit post</h1>

@using (@Html.BeginForm("editPost", "gitgud"))
{
    <partial name = "_postsForm" model = "@Model"/>
    <div>
        @Html.HiddenFor(p => p.id)
    </div>

    <button class="btn btn-outline-success" type = "submit">Submit</button>
}