@model gitgudclone.Models.StepsModel

<title>@ViewData["Title"] GitGud - Edit Tutorial Step</title>

<h1 id="textColor">Edit step</h1>

@using (@Html.BeginForm("EditStep", "gitgud"))
{
    <partial name = "_stepForm" model = "@Model"/>
    <div>
        @Html.HiddenFor(s => s.id)
    </div>

    <button class="btn btn-outline-success" type = "submit">Submit</button>
}