@model gitgudclone.Data.ApplicationDbContext

<div class="card-columns">
    @foreach (PostsModel post in @Model.postsList)
    {
        <a asp-area="" asp-controller="gitgud" asp-action="viewpostdetails" asp-route-postID="@post.id">
            <partial name="_postsDisplay" model="@post" />
        </a>
    }
</div>